@model blog_template_practice.Models.Category
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Details.css" rel="stylesheet" type="text/css" />
    <title>@Model.Name</title>
</head>

<container>
    <body>
        <header>
            <h1> @Model.Name Blog Posts </h1>
        </header>
        <section class="Index">
            @foreach (var content in @Model.Contents)
            {
                    <a href="/Content/Details/@content.Id">
                        <div class="Content">
                            <img src="~/@content.Image" alt="Content Photo">
                            <br>
                            <div class="Details">
                                <h1>@content.Title</h1>
                                <br>
                                <h3>By: @content.Author</h3>
                                <br>
                                <h4>Posted On:@content.PublishDate</h4>
                            </div>
                        </div>
                    </a>
            }
        </section>


        <nav>
            <a href="/Content/Index">All Blog Posts</a>
            <a href="/Category/Index/"> Categories </a>
            <a href="/Content/Create/"> New Blog Post </a>
        </nav>
        <footer>
            &copy; 2021 Tiah Campbell
        </footer>
    </body>
</container>
</html>